*{
    margin: 0;
    padding: 0;
}
.background{
    background-repeat: no-repeat;
    background-image: url(https://static.vecteezy.com/system/resources/previews/026/125/719/original/standing-yoga-asana-pose-vector.jpg);
    background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 115vh;

}
.content{
    border: 2px solid rgb(88, 18, 18);
    border-radius: 5px;
    width: 150vh;
    height: 100vh;
    margin-left: 30vh;
    background-color: rgba(240, 248, 255, 0.233);
   
}
.main{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.heading{
    background-color: rgba(222, 222, 222, 0.5);
    display: flex;
    border-radius: 10px;
    margin: 9px;

}
.heading h1{
    font-size: 10vh;
    color: rgba(77, 17, 17, 0.649);
}
.heading p{
    font-size: 4vh;
    font-weight: bolder;
    color: rgba(68, 7, 7, 0.719);

}